extends layout

block scripts
    script(src="/javascripts/Header.js")
    script(src="/javascripts/Templates.js")
    script(src="/javascripts/CameraControls.js")
    script(src="/javascripts/MainLoop.js")

block content
    div(data-ng-app="activity3d")
        div.col-md-2
            p Draggables go here
        div.col-md-10.canvas(data-ng-controller="CameraController")
            div.camera#camera(style="transform: rotateX({{cameraRotationX}}deg) rotateY({{cameraRotationY}}deg)")
